<nav>
    <div class="site-title">
        <a href="/"><h1>Kotisivu</h1></a>
        <p>Anastasian saitti</p>
    </div>
    <ul>
        <li><a href="/">Kotisivu</a></li>
        <li><a href="/meista">Meista</a></li>
        <li><a href="/blogit/luo">Uusi Blogi</a></li>
    </ul>
</nav>